## .NET
**/bin/
**/obj/
*.user
*.rsuser
*.suo

## Build artifacts
[Bb]uild/
[Ll]og/

## IDE
.vs/
.vscode/

## Node (frontend)
**/node_modules/
**/build/

## Playwright
test-results/
playwright-report/

## OS
.DS_Store
